<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      body {
        margin: 0;
        padding: 48px 64px 64px 64px;
        background-color: white;
      }
      h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.5;
        margin: 0 0 32px 0;
      }
      #root {
        margin: auto;
        max-width: 1440px;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <h1>Tailwind Color Interpolation</h1>
      <div
        style="display: grid; grid-template-columns: auto 1fr; gap: 64px 8px"
      >
        <div
          v-for="color in colors"
          style="display: contents; align-items: center"
        >
          <div style="font-size: 14px; font-weight: 600; padding-top: 12px">
            {{ color }}
          </div>
          <div style="display: flex; flex-grow: 1; gap: 8px">
            <div
              v-for="index in indexes"
              :style="{ height: '40px', flexGrow: 1, background: `rgb(${detail[`--ds-rgb-${color}-${index}`]})`, borderRadius: '4px', position: 'relative' }"
            >
              <div
                style="
                  font-size: 12px;
                  font-weight: 500;
                  position: absolute;
                  left: 0;
                  top: calc(100% + 6px);
                "
              >
                {{index}}
              </div>
              <div
                style="
                  font-size: 10px;
                  position: absolute;
                  left: 0;
                  top: calc(100% + 20px);
                  color: #909498;
                "
              >
                {{renderColors(detail[`--ds-rgb-${color}-${index}`])}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp } = Vue;

      createApp({
        setup() {
          const colors = [
            "slate",
            "gray",
            "zinc",
            "neutral",
            "stone",
            "red",
            "orange",
            "amber",
            "yellow",
            "lime",
            "green",
            "emerald",
            "teal",
            "cyan",
            "sky",
            "blue",
            "indigo",
            "violet",
            "purple",
            "pink",
            "rose",
          ];

          const indexes = [
            50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700,
            750, 800, 850, 900, 950,
          ];

          const detail = {
            "--ds-rgb-slate-50": "248 250 252",
            "--ds-rgb-slate-100": "241 245 249",
            "--ds-rgb-slate-150": "233 238 244",
            "--ds-rgb-slate-200": "226 232 240",
            "--ds-rgb-slate-250": "214 222 232",
            "--ds-rgb-slate-300": "203 213 225",
            "--ds-rgb-slate-350": "175 188 204",
            "--ds-rgb-slate-400": "148 163 184",
            "--ds-rgb-slate-450": "124 139 161",
            "--ds-rgb-slate-500": "100 116 139",
            "--ds-rgb-slate-550": "85 100 122",
            "--ds-rgb-slate-600": "71 85 105",
            "--ds-rgb-slate-650": "61 75 95",
            "--ds-rgb-slate-700": "51 65 85",
            "--ds-rgb-slate-750": "40 53 72",
            "--ds-rgb-slate-800": "30 41 59",
            "--ds-rgb-slate-850": "22 32 50",
            "--ds-rgb-slate-900": "15 23 42",
            "--ds-rgb-slate-950": "2 6 23",
            "--ds-rgb-gray-50": "249 250 251",
            "--ds-rgb-gray-100": "243 244 246",
            "--ds-rgb-gray-150": "236 237 240",
            "--ds-rgb-gray-200": "229 231 235",
            "--ds-rgb-gray-250": "219 222 227",
            "--ds-rgb-gray-300": "209 213 219",
            "--ds-rgb-gray-350": "182 188 197",
            "--ds-rgb-gray-400": "156 163 175",
            "--ds-rgb-gray-450": "131 138 151",
            "--ds-rgb-gray-500": "107 114 128",
            "--ds-rgb-gray-550": "91 99 113",
            "--ds-rgb-gray-600": "75 85 99",
            "--ds-rgb-gray-650": "65 75 90",
            "--ds-rgb-gray-700": "55 65 81",
            "--ds-rgb-gray-750": "43 53 68",
            "--ds-rgb-gray-800": "31 41 55",
            "--ds-rgb-gray-850": "24 32 47",
            "--ds-rgb-gray-900": "17 24 39",
            "--ds-rgb-gray-950": "3 7 18",
            "--ds-rgb-zinc-50": "250 250 250",
            "--ds-rgb-zinc-100": "244 244 245",
            "--ds-rgb-zinc-150": "236 236 238",
            "--ds-rgb-zinc-200": "228 228 231",
            "--ds-rgb-zinc-250": "220 220 223",
            "--ds-rgb-zinc-300": "212 212 216",
            "--ds-rgb-zinc-350": "186 186 193",
            "--ds-rgb-zinc-400": "161 161 170",
            "--ds-rgb-zinc-450": "137 137 146",
            "--ds-rgb-zinc-500": "113 113 122",
            "--ds-rgb-zinc-550": "97 97 106",
            "--ds-rgb-zinc-600": "82 82 91",
            "--ds-rgb-zinc-650": "72 72 80",
            "--ds-rgb-zinc-700": "63 63 70",
            "--ds-rgb-zinc-750": "51 51 56",
            "--ds-rgb-zinc-800": "39 39 42",
            "--ds-rgb-zinc-850": "31 31 34",
            "--ds-rgb-zinc-900": "24 24 27",
            "--ds-rgb-zinc-950": "9 9 11",
            "--ds-rgb-neutral-50": "250 250 250",
            "--ds-rgb-neutral-100": "245 245 245",
            "--ds-rgb-neutral-150": "237 237 237",
            "--ds-rgb-neutral-200": "229 229 229",
            "--ds-rgb-neutral-250": "220 220 220",
            "--ds-rgb-neutral-300": "212 212 212",
            "--ds-rgb-neutral-350": "187 187 187",
            "--ds-rgb-neutral-400": "163 163 163",
            "--ds-rgb-neutral-450": "139 139 139",
            "--ds-rgb-neutral-500": "115 115 115",
            "--ds-rgb-neutral-550": "98 98 98",
            "--ds-rgb-neutral-600": "82 82 82",
            "--ds-rgb-neutral-650": "73 73 73",
            "--ds-rgb-neutral-700": "64 64 64",
            "--ds-rgb-neutral-750": "51 51 51",
            "--ds-rgb-neutral-800": "38 38 38",
            "--ds-rgb-neutral-850": "30 30 30",
            "--ds-rgb-neutral-900": "23 23 23",
            "--ds-rgb-neutral-950": "10 10 10",
            "--ds-rgb-stone-50": "250 250 249",
            "--ds-rgb-stone-100": "245 245 244",
            "--ds-rgb-stone-150": "238 237 236",
            "--ds-rgb-stone-200": "231 229 228",
            "--ds-rgb-stone-250": "222 220 218",
            "--ds-rgb-stone-300": "214 211 209",
            "--ds-rgb-stone-350": "191 186 183",
            "--ds-rgb-stone-400": "168 162 158",
            "--ds-rgb-stone-450": "144 137 133",
            "--ds-rgb-stone-500": "120 113 108",
            "--ds-rgb-stone-550": "103 98 93",
            "--ds-rgb-stone-600": "87 83 78",
            "--ds-rgb-stone-650": "77 73 69",
            "--ds-rgb-stone-700": "68 64 60",
            "--ds-rgb-stone-750": "54 50 48",
            "--ds-rgb-stone-800": "41 37 36",
            "--ds-rgb-stone-850": "34 31 29",
            "--ds-rgb-stone-900": "28 25 23",
            "--ds-rgb-stone-950": "12 10 9",
            "--ds-rgb-red-50": "254 242 242",
            "--ds-rgb-red-100": "254 226 226",
            "--ds-rgb-red-150": "254 214 214",
            "--ds-rgb-red-200": "254 202 202",
            "--ds-rgb-red-250": "253 183 183",
            "--ds-rgb-red-300": "252 165 165",
            "--ds-rgb-red-350": "250 139 139",
            "--ds-rgb-red-400": "248 113 113",
            "--ds-rgb-red-450": "243 90 90",
            "--ds-rgb-red-500": "239 68 68",
            "--ds-rgb-red-550": "229 53 53",
            "--ds-rgb-red-600": "220 38 38",
            "--ds-rgb-red-650": "202 33 33",
            "--ds-rgb-red-700": "185 28 28",
            "--ds-rgb-red-750": "169 27 27",
            "--ds-rgb-red-800": "153 27 27",
            "--ds-rgb-red-850": "140 28 28",
            "--ds-rgb-red-900": "127 29 29",
            "--ds-rgb-red-950": "69 10 10",
            "--ds-rgb-orange-50": "255 247 237",
            "--ds-rgb-orange-100": "255 237 213",
            "--ds-rgb-orange-150": "254 226 191",
            "--ds-rgb-orange-200": "254 215 170",
            "--ds-rgb-orange-250": "253 200 143",
            "--ds-rgb-orange-300": "253 186 116",
            "--ds-rgb-orange-350": "252 166 88",
            "--ds-rgb-orange-400": "251 146 60",
            "--ds-rgb-orange-450": "250 130 41",
            "--ds-rgb-orange-500": "249 115 22",
            "--ds-rgb-orange-550": "241 101 17",
            "--ds-rgb-orange-600": "234 88 12",
            "--ds-rgb-orange-650": "214 76 12",
            "--ds-rgb-orange-700": "194 65 12",
            "--ds-rgb-orange-750": "174 58 15",
            "--ds-rgb-orange-800": "154 52 18",
            "--ds-rgb-orange-850": "139 48 18",
            "--ds-rgb-orange-900": "124 45 18",
            "--ds-rgb-orange-950": "67 20 7",
            "--ds-rgb-amber-50": "255 251 235",
            "--ds-rgb-amber-100": "254 243 199",
            "--ds-rgb-amber-150": "253 236 168",
            "--ds-rgb-amber-200": "253 230 138",
            "--ds-rgb-amber-250": "252 220 107",
            "--ds-rgb-amber-300": "252 211 77",
            "--ds-rgb-amber-350": "251 201 56",
            "--ds-rgb-amber-400": "251 191 36",
            "--ds-rgb-amber-450": "248 174 23",
            "--ds-rgb-amber-500": "245 158 11",
            "--ds-rgb-amber-550": "231 138 8",
            "--ds-rgb-amber-600": "217 119 6",
            "--ds-rgb-amber-650": "198 101 7",
            "--ds-rgb-amber-700": "180 83 9",
            "--ds-rgb-amber-750": "163 73 11",
            "--ds-rgb-amber-800": "146 64 14",
            "--ds-rgb-amber-850": "133 58 14",
            "--ds-rgb-amber-900": "120 53 15",
            "--ds-rgb-amber-950": "69 26 3",
            "--ds-rgb-yellow-50": "254 252 232",
            "--ds-rgb-yellow-100": "254 249 195",
            "--ds-rgb-yellow-150": "254 244 166",
            "--ds-rgb-yellow-200": "254 240 138",
            "--ds-rgb-yellow-250": "253 232 104",
            "--ds-rgb-yellow-300": "253 224 71",
            "--ds-rgb-yellow-350": "251 214 46",
            "--ds-rgb-yellow-400": "250 204 21",
            "--ds-rgb-yellow-450": "242 191 14",
            "--ds-rgb-yellow-500": "234 179 8",
            "--ds-rgb-yellow-550": "218 158 6",
            "--ds-rgb-yellow-600": "202 138 4",
            "--ds-rgb-yellow-650": "181 118 5",
            "--ds-rgb-yellow-700": "161 98 7",
            "--ds-rgb-yellow-750": "147 87 10",
            "--ds-rgb-yellow-800": "133 77 14",
            "--ds-rgb-yellow-850": "123 70 16",
            "--ds-rgb-yellow-900": "113 63 18",
            "--ds-rgb-yellow-950": "66 32 6",
            "--ds-rgb-lime-50": "247 254 231",
            "--ds-rgb-lime-100": "236 252 203",
            "--ds-rgb-lime-150": "226 250 180",
            "--ds-rgb-lime-200": "217 249 157",
            "--ds-rgb-lime-250": "203 245 128",
            "--ds-rgb-lime-300": "190 242 100",
            "--ds-rgb-lime-350": "176 236 76",
            "--ds-rgb-lime-400": "163 230 53",
            "--ds-rgb-lime-450": "147 217 37",
            "--ds-rgb-lime-500": "132 204 22",
            "--ds-rgb-lime-550": "116 183 17",
            "--ds-rgb-lime-600": "101 163 13",
            "--ds-rgb-lime-650": "89 143 14",
            "--ds-rgb-lime-700": "77 124 15",
            "--ds-rgb-lime-750": "70 111 16",
            "--ds-rgb-lime-800": "63 98 18",
            "--ds-rgb-lime-850": "58 90 19",
            "--ds-rgb-lime-900": "54 83 20",
            "--ds-rgb-lime-950": "26 46 5",
            "--ds-rgb-green-50": "240 253 244",
            "--ds-rgb-green-100": "220 252 231",
            "--ds-rgb-green-150": "203 249 219",
            "--ds-rgb-green-200": "187 247 208",
            "--ds-rgb-green-250": "160 243 190",
            "--ds-rgb-green-300": "134 239 172",
            "--ds-rgb-green-350": "104 230 150",
            "--ds-rgb-green-400": "74 222 128",
            "--ds-rgb-green-450": "54 209 111",
            "--ds-rgb-green-500": "34 197 94",
            "--ds-rgb-green-550": "28 180 84",
            "--ds-rgb-green-600": "22 163 74",
            "--ds-rgb-green-650": "21 145 67",
            "--ds-rgb-green-700": "21 128 61",
            "--ds-rgb-green-750": "21 114 56",
            "--ds-rgb-green-800": "22 101 52",
            "--ds-rgb-green-850": "21 92 48",
            "--ds-rgb-green-900": "20 83 45",
            "--ds-rgb-green-950": "5 46 22",
            "--ds-rgb-emerald-50": "236 253 245",
            "--ds-rgb-emerald-100": "209 250 229",
            "--ds-rgb-emerald-150": "188 246 218",
            "--ds-rgb-emerald-200": "167 243 208",
            "--ds-rgb-emerald-250": "138 237 195",
            "--ds-rgb-emerald-300": "110 231 183",
            "--ds-rgb-emerald-350": "81 221 168",
            "--ds-rgb-emerald-400": "52 211 153",
            "--ds-rgb-emerald-450": "34 198 141",
            "--ds-rgb-emerald-500": "16 185 129",
            "--ds-rgb-emerald-550": "10 167 117",
            "--ds-rgb-emerald-600": "5 150 105",
            "--ds-rgb-emerald-650": "4 135 96",
            "--ds-rgb-emerald-700": "4 120 87",
            "--ds-rgb-emerald-750": "5 107 78",
            "--ds-rgb-emerald-800": "6 95 70",
            "--ds-rgb-emerald-850": "6 86 64",
            "--ds-rgb-emerald-900": "6 78 59",
            "--ds-rgb-emerald-950": "2 44 34",
            "--ds-rgb-teal-50": "240 253 250",
            "--ds-rgb-teal-100": "204 251 241",
            "--ds-rgb-teal-150": "178 248 234",
            "--ds-rgb-teal-200": "153 246 228",
            "--ds-rgb-teal-250": "123 240 220",
            "--ds-rgb-teal-300": "94 234 212",
            "--ds-rgb-teal-350": "69 223 201",
            "--ds-rgb-teal-400": "45 212 191",
            "--ds-rgb-teal-450": "32 198 178",
            "--ds-rgb-teal-500": "20 184 166",
            "--ds-rgb-teal-550": "16 166 151",
            "--ds-rgb-teal-600": "13 148 136",
            "--ds-rgb-teal-650": "14 133 123",
            "--ds-rgb-teal-700": "15 118 110",
            "--ds-rgb-teal-750": "16 106 99",
            "--ds-rgb-teal-800": "17 94 89",
            "--ds-rgb-teal-850": "18 86 81",
            "--ds-rgb-teal-900": "19 78 74",
            "--ds-rgb-teal-950": "4 47 46",
            "--ds-rgb-cyan-50": "236 254 255",
            "--ds-rgb-cyan-100": "207 250 254",
            "--ds-rgb-cyan-150": "186 246 253",
            "--ds-rgb-cyan-200": "165 243 252",
            "--ds-rgb-cyan-250": "134 237 250",
            "--ds-rgb-cyan-300": "103 232 249",
            "--ds-rgb-cyan-350": "68 221 243",
            "--ds-rgb-cyan-400": "34 211 238",
            "--ds-rgb-cyan-450": "20 196 225",
            "--ds-rgb-cyan-500": "6 182 212",
            "--ds-rgb-cyan-550": "7 163 195",
            "--ds-rgb-cyan-600": "8 145 178",
            "--ds-rgb-cyan-650": "11 130 161",
            "--ds-rgb-cyan-700": "14 116 144",
            "--ds-rgb-cyan-750": "17 105 130",
            "--ds-rgb-cyan-800": "21 94 117",
            "--ds-rgb-cyan-850": "21 86 108",
            "--ds-rgb-cyan-900": "22 78 99",
            "--ds-rgb-cyan-950": "8 51 68",
            "--ds-rgb-sky-50": "240 249 255",
            "--ds-rgb-sky-100": "224 242 254",
            "--ds-rgb-sky-150": "205 236 253",
            "--ds-rgb-sky-200": "186 230 253",
            "--ds-rgb-sky-250": "155 220 252",
            "--ds-rgb-sky-300": "125 211 252",
            "--ds-rgb-sky-350": "90 200 250",
            "--ds-rgb-sky-400": "56 189 248",
            "--ds-rgb-sky-450": "35 177 240",
            "--ds-rgb-sky-500": "14 165 233",
            "--ds-rgb-sky-550": "8 148 216",
            "--ds-rgb-sky-600": "2 132 199",
            "--ds-rgb-sky-650": "2 118 180",
            "--ds-rgb-sky-700": "3 105 161",
            "--ds-rgb-sky-750": "5 97 147",
            "--ds-rgb-sky-800": "7 89 133",
            "--ds-rgb-sky-850": "9 81 121",
            "--ds-rgb-sky-900": "12 74 110",
            "--ds-rgb-sky-950": "8 47 73",
            "--ds-rgb-blue-50": "239 246 255",
            "--ds-rgb-blue-100": "219 234 254",
            "--ds-rgb-blue-150": "205 226 254",
            "--ds-rgb-blue-200": "191 219 254",
            "--ds-rgb-blue-250": "169 208 253",
            "--ds-rgb-blue-300": "147 197 253",
            "--ds-rgb-blue-350": "121 181 251",
            "--ds-rgb-blue-400": "96 165 250",
            "--ds-rgb-blue-450": "77 147 248",
            "--ds-rgb-blue-500": "59 130 246",
            "--ds-rgb-blue-550": "48 114 240",
            "--ds-rgb-blue-600": "37 99 235",
            "--ds-rgb-blue-650": "33 88 225",
            "--ds-rgb-blue-700": "29 78 216",
            "--ds-rgb-blue-750": "29 71 195",
            "--ds-rgb-blue-800": "30 64 175",
            "--ds-rgb-blue-850": "30 61 156",
            "--ds-rgb-blue-900": "30 58 138",
            "--ds-rgb-blue-950": "23 37 84",
            "--ds-rgb-indigo-50": "238 242 255",
            "--ds-rgb-indigo-100": "224 231 255",
            "--ds-rgb-indigo-150": "211 220 254",
            "--ds-rgb-indigo-200": "199 210 254",
            "--ds-rgb-indigo-250": "182 195 253",
            "--ds-rgb-indigo-300": "165 180 252",
            "--ds-rgb-indigo-350": "147 160 250",
            "--ds-rgb-indigo-400": "129 140 248",
            "--ds-rgb-indigo-450": "114 121 244",
            "--ds-rgb-indigo-500": "99 102 241",
            "--ds-rgb-indigo-550": "89 86 235",
            "--ds-rgb-indigo-600": "79 70 229",
            "--ds-rgb-indigo-650": "73 63 215",
            "--ds-rgb-indigo-700": "67 56 202",
            "--ds-rgb-indigo-750": "61 52 182",
            "--ds-rgb-indigo-800": "55 48 163",
            "--ds-rgb-indigo-850": "52 47 146",
            "--ds-rgb-indigo-900": "49 46 129",
            "--ds-rgb-indigo-950": "30 27 75",
            "--ds-rgb-violet-50": "245 243 255",
            "--ds-rgb-violet-100": "237 233 254",
            "--ds-rgb-violet-150": "229 223 254",
            "--ds-rgb-violet-200": "221 214 254",
            "--ds-rgb-violet-250": "208 197 253",
            "--ds-rgb-violet-300": "196 181 253",
            "--ds-rgb-violet-350": "181 160 251",
            "--ds-rgb-violet-400": "167 139 250",
            "--ds-rgb-violet-450": "153 115 248",
            "--ds-rgb-violet-500": "139 92 246",
            "--ds-rgb-violet-550": "131 75 241",
            "--ds-rgb-violet-600": "124 58 237",
            "--ds-rgb-violet-650": "116 49 227",
            "--ds-rgb-violet-700": "109 40 217",
            "--ds-rgb-violet-750": "100 36 199",
            "--ds-rgb-violet-800": "91 33 182",
            "--ds-rgb-violet-850": "83 31 165",
            "--ds-rgb-violet-900": "76 29 149",
            "--ds-rgb-violet-950": "46 16 101",
            "--ds-rgb-purple-50": "250 245 255",
            "--ds-rgb-purple-100": "243 232 255",
            "--ds-rgb-purple-150": "238 222 255",
            "--ds-rgb-purple-200": "233 213 255",
            "--ds-rgb-purple-250": "224 196 254",
            "--ds-rgb-purple-300": "216 180 254",
            "--ds-rgb-purple-350": "204 156 253",
            "--ds-rgb-purple-400": "192 132 252",
            "--ds-rgb-purple-450": "180 108 249",
            "--ds-rgb-purple-500": "168 85 247",
            "--ds-rgb-purple-550": "157 68 240",
            "--ds-rgb-purple-600": "147 51 234",
            "--ds-rgb-purple-650": "136 42 220",
            "--ds-rgb-purple-700": "126 34 206",
            "--ds-rgb-purple-750": "116 33 187",
            "--ds-rgb-purple-800": "107 33 168",
            "--ds-rgb-purple-850": "97 30 151",
            "--ds-rgb-purple-900": "88 28 135",
            "--ds-rgb-purple-950": "59 7 100",
            "--ds-rgb-fuchsia-50": "253 244 255",
            "--ds-rgb-fuchsia-100": "250 232 255",
            "--ds-rgb-fuchsia-150": "247 220 254",
            "--ds-rgb-fuchsia-200": "245 208 254",
            "--ds-rgb-fuchsia-250": "242 189 253",
            "--ds-rgb-fuchsia-300": "240 171 252",
            "--ds-rgb-fuchsia-350": "236 146 250",
            "--ds-rgb-fuchsia-400": "232 121 249",
            "--ds-rgb-fuchsia-450": "224 95 244",
            "--ds-rgb-fuchsia-500": "217 70 239",
            "--ds-rgb-fuchsia-550": "204 54 225",
            "--ds-rgb-fuchsia-600": "192 38 211",
            "--ds-rgb-fuchsia-650": "177 33 193",
            "--ds-rgb-fuchsia-700": "162 28 175",
            "--ds-rgb-fuchsia-750": "148 26 159",
            "--ds-rgb-fuchsia-800": "134 25 143",
            "--ds-rgb-fuchsia-850": "123 25 130",
            "--ds-rgb-fuchsia-900": "112 26 117",
            "--ds-rgb-fuchsia-950": "74 4 78",
            "--ds-rgb-pink-50": "253 242 248",
            "--ds-rgb-pink-100": "252 231 243",
            "--ds-rgb-pink-150": "251 219 237",
            "--ds-rgb-pink-200": "251 207 232",
            "--ds-rgb-pink-250": "250 187 222",
            "--ds-rgb-pink-300": "249 168 212",
            "--ds-rgb-pink-350": "246 141 197",
            "--ds-rgb-pink-400": "244 114 182",
            "--ds-rgb-pink-450": "240 93 167",
            "--ds-rgb-pink-500": "236 72 153",
            "--ds-rgb-pink-550": "227 55 136",
            "--ds-rgb-pink-600": "219 39 119",
            "--ds-rgb-pink-650": "204 31 106",
            "--ds-rgb-pink-700": "190 24 93",
            "--ds-rgb-pink-750": "173 23 85",
            "--ds-rgb-pink-800": "157 23 77",
            "--ds-rgb-pink-850": "144 23 72",
            "--ds-rgb-pink-900": "131 24 67",
            "--ds-rgb-pink-950": "80 7 36",
            "--ds-rgb-rose-50": "255 241 242",
            "--ds-rgb-rose-100": "255 228 230",
            "--ds-rgb-rose-150": "254 216 220",
            "--ds-rgb-rose-200": "254 205 211",
            "--ds-rgb-rose-250": "253 184 193",
            "--ds-rgb-rose-300": "253 164 175",
            "--ds-rgb-rose-350": "252 138 154",
            "--ds-rgb-rose-400": "251 113 133",
            "--ds-rgb-rose-450": "247 88 113",
            "--ds-rgb-rose-500": "244 63 94",
            "--ds-rgb-rose-550": "234 46 83",
            "--ds-rgb-rose-600": "225 29 72",
            "--ds-rgb-rose-650": "207 23 66",
            "--ds-rgb-rose-700": "190 18 60",
            "--ds-rgb-rose-750": "174 18 58",
            "--ds-rgb-rose-800": "159 18 57",
            "--ds-rgb-rose-850": "147 18 56",
            "--ds-rgb-rose-900": "136 19 55",
            "--ds-rgb-rose-950": "76 5 25",
          };

          const renderColors = (input) => {
            const [r, g, b] = input.split(" ").map(Number);
            return `#${r < 16 ? 0 : ""}${r.toString(16)}${
              g < 16 ? 0 : ""
            }${g.toString(16)}${b < 16 ? 0 : ""}${b.toString(16)}`;
          };
          return { colors, indexes, detail, renderColors };
        },
      }).mount("#root");
    </script>
  </body>
</html>
